h1 {color: #000000}
main {
    margin: 20px;
    padding: 10px;
    font-family: "Rockwell", "Helvetica", sans-serif;
    color: #324C69;
    font-size: 14pt;
}
body {background-color: #E8D9BE;}

.name {
    font-family: "Anton SC", sans-serif;

}

.Sherman_family { 
    max-width: 30%; 
    max-height: 30%; 
    display: block; 
    margin: auto; 
    border-radius: 50%;
    border: 2px solid black;
}

.sherman_headshot {
    clip-path:circle();
    max-width: 20em;
    max-height: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

h1 {
    text-indent:30px;
    text-decoration:underline ;

}
#reflect-1:first-child::first-letter {font-size:130%; font-weight: 200;}
#reflect-1, #reflect-2, #reflect-3, #reflect-4 {text-indent: 30px}

.education {
    position:relative;
    z-index:1;
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    justify-content: center;
    color: #F1B82D;
    text-size-adjust: 90%;
    max-height: 450px;
    background: url("mizzou_jesse_hall.jpg") no-repeat;
    background-size: cover;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }


.artifact1 {
    height: 80%;
    width: 80%;
}
.artifact2 {
    height: 80%;
    width: 80%;
    justify-content: right;
    padding-top: 10px;
}
.project_description{
    text-indent:30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.reflection{
    text-indent:30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.jump {
    color: #324C69;
    display: block;
    justify-content: center;
    text-align: center;
}

.in_page {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: "Anton SC", sans-serif;
    
}
.in_page li {
    display: flex;
    padding: 2px 2px 2px 2px;
    color: #000000;
    text-decoration: none;
    background-color: #7B91A8;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.in_page a {
    text-decoration: none;
    color: black;

}

footer {
    display: block;
    background-image: url(./images/boat-5889919_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border: 2px solid black;

    margin: 20px;
    padding: 10px;
    font-family: "Rockwell", "Helvetica", sans-serif;
    font-size-adjust: 50%;

}

/*media queries*/
            /* desktop device min width of 850 px*/
            @media only screen and (min-width: 850px){
                .about_paragraph{                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1px;
                    margin-bottom: 1px;
                    float: left;                    
                }
                .Sherman_family { 
                    max-width: 90% ; 
                    max-height: 90% ; 
                    display: flex; 
                    margin: auto; 
                    border-radius: 50%;
                    border: 2px solid black;   
                }
                .wrapper{
                    display:grid;
                    grid-template-columns: 10fr 10fr;
                    grid-gap: 10px;
                    
                }
                .sabai{
                    display:grid;
                    grid-gap: 10px;
                    padding: 20px;
                    grid-template-columns: 1fr 1fr;

                }
                .project_description{
                    display: flex;
                    float:left;
                }
                }
                .index.wrapper {
                    display: grid;
                    grid-template-columns: 10fr 10fr;
                    grid-template-rows: 20fr 10fr;
                    grid-gap: 30px;
                }
                .sherman_headshot {
                    display:flex;
                    grid-row-start: 1;
                    grid-row-end: 2;
                    float:left;
                    margin-right: 40px;
                }
                .Welcome {
                    display: flex;
                }
                .Objectives {
                    display: flex;
                }


            /* tablet device max width of 850 px*/
            @media only screen and (max-width: 850px){
                .about_paragraph{                    
                    display: block;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1px;
                    margin-bottom: 1px;                    
                }

                .Sherman_family { 
                    max-width: 45% ; 
                    max-height: 45% ; 
                    display: block; 
                    margin: auto; 
                    border-radius: 50%;
                    border: 2px solid black;
                }
                .sherman_headshot {
                    clip-path:circle();
                    max-width: 20em;
                    max-height: 20em;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    float: none;   
                }
            }
            @media print {
                main {
                    font-family: "Rockwell", "Helvetica";
                    color: black;
                    background-color: none;
                    font-size: 12pt;
            
            
                }
                .education {
                    color: black;
                }
                .video_resume{
                    display: none;
                }
                .Sherman_family {
                    display: none;
                }
                nav {
                    display: none;
                }
                .print_hide {
                    display: none;
                }
                @page {
                    margin: 2.54cm
                }
            }