h1 {color: #000000}
main {
    margin: 20px;
    padding: 10px;
    font-family: "Rockwell", "Helvetica", sans-serif;
    color: #324C69;
}
body {background-color: #E8D9BE;}

.Sherman_family { 
    max-width: 90%; 
    max-height: 90%; 
    display: block; 
    margin: auto; 
    border-radius: 50%;
    border: 2px solid black;
}
h1 {text-indent:30px;
    text-decoration:underline ;}
#reflect-1:first-child::first-letter {font-size:130%; font-weight: 200;}
#reflect-1, #reflect-2, #reflect-3, #reflect-4 {text-indent: 30px}

.education {
    position:relative;
    z-index:1;
    display: block;
    width: 100%;
    height: 375px;
    margin-left: 20px;
    color: #F1B82D;
    text-size-adjust: 200%;
    max-height: 450px;
    background: url("mizzou_jesse_hall.jpg") no-repeat;
    size-adjust: 200%;
}

/*media queries*/
            /* desktop device min width of 851 px*/
            @media only screen and (min-width: 100 px){
                h1 {color: #000000}
main {
    margin: 20px;
    padding: 10px;
    font-family: "Rockwell", "Helvetica", sans-serif;
    color: #324C69;
}
body {background-color: #E8D9BE;}

.about_paragraph{
    display: inline-flex;
}

.Sherman_family { 
    max-width: 90%; 
    max-height: 90%; 
    display: block; 
    margin: auto; 
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 10%;
    margin-bottom: 30%;    
}
h1 {text-indent:30px;
    text-decoration:underline ;}
#reflect-1:first-child::first-letter {font-size:130%; font-weight: 200;}
#reflect-1, #reflect-2, #reflect-3, #reflect-4 {text-indent: 30px}

.education {
    position:relative;
    z-index:1;
    display: block;
    width: 100%;
    height: 375px;
    margin-left: 20px;
    color: #F1B82D;
    text-size-adjust: 200%;
    max-height: 450px;
    background: url("mizzou_jesse_hall.jpg") no-repeat;
    size-adjust: 200%;
}

            }

